<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>File Uploads Test</title>
    <style>
      form {
        display: inline-block;
        border: 1px solid;
        padding: 20px;
      }
      label {
        font-size: 20px;
        padding: 15px 0 6px;
        display: inline-block;
      }
      input, select {
        padding: 9px 8px;
        font-size: 20px;
      }
      input[type="file"] {
        padding: 0px 0px 20px 0px;
      }
      input[type="submit"] {
        background: #17ad17;
        color: #fff;
        border: 1px solid green;
        border-radius: 5px;
      }
    </style>
  </head>

  <body>
    <h1>Upload Files Test</h1>
    <%= form_tag '/files', method: :post, multipart: true do %>
      <div>
        <%= content_tag :label, 'Object Class' %><br>
        <%= select_tag :object_class, options_for_select(['Property','Contract']) %>
      </div>
      <div>
        <%= content_tag :label, 'Object ID' %><br>
        <%= number_field_tag :object_id %>
      </div>
      <div>
        <%= content_tag :label, 'Files' %><br>
        <%= file_field_tag :files, multiple: true, name: 'files[]' %>
      </div>
      <div>
        <%= submit_tag 'Upload files' %>
      </div>
    <% end %>
  </body>
</html>
